<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Clay Goddard<br />
                Georgia Tech<br />
                4th Years CS
              </p>
            </div>
            <div class="contact">
              <p>
                615.715.8373<br />
                goddardc@gatech.edu<br />
                <a href="https://github.com/goddardc">github.com/yourusername</a>
              </p>
            </div>
          </div>
          <div>
            <iframe src="https://www.beeminder.com/widget?slug=work&username=goddardc&countdown=true" height="245px" width="230px" frameborder="0px" ></iframe>
          </div>
        </div>

    </body>
</html>
